[user]
	name = Travis B. Hartwell
	email = nafai@travishartwell.net
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.global_gitignore
[init]
	defaultBranch = main
[pull]
	rebase = true
[rebase]
	autoStash = true
